<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544751736057-6d5kh2vddrcspjubesrrs2uohn27m2og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544751736057-6d5kh2vddrcspjubesrrs2uohn27m2og</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>544751736057-3jr0t5l8qdeinr6q3t408tqvbiqtstfh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoU4lEtZs-f_ccfhNZYNxMFO6Q86bKAvk</string>
	<key>GCM_SENDER_ID</key>
	<string>544751736057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.hollander.lockBox</string>
	<key>PROJECT_ID</key>
	<string>lockbox-hollander</string>
	<key>STORAGE_BUCKET</key>
	<string>lockbox-hollander.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544751736057:ios:e69b3f8d371358df5d3e28</string>
</dict>
</plist>